<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>thisis</servlet-name>
    <servlet-class>com.model.thisis</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>aLogin</servlet-name>
    <servlet-class>com.servlet.aLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>aRegist</servlet-name>
    <servlet-class>com.servlet.aRegist</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadUtils</servlet-name>
    <servlet-class>com.servlet.UploadUtils</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>thisis</servlet-name>
    <url-pattern>/servlet/thisis</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>aLogin</servlet-name>
    <url-pattern>/servlet/aLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>aRegist</servlet-name>
    <url-pattern>/servlet/aRegist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadUtils</servlet-name>
    <url-pattern>/servlet/UploadUtils</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
